{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="Мы — команда разработчиков веб, мобильных и десктоп приложений. Создаем инновационный язык программирования Mojarung на основе концепции Envelope и метода Flapback. Наша цель — внести вклад в IT-индустрию и сделать наш язык доступным для всех!">
    <meta name="keywords"
          content="mojarung, сайт, визитка, новости, it, технологии, программирование, язык программирования, envelope, flapback, энвелоуп, флэпбэк">
    <meta name="author" content="Mojarung, Inc">

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/nullstyle.scss' %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/main.scss' %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/style.scss' %}">
    {% endcompress %}

</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>